{% extends 'base.html' %}

{% block title %}All Accounts{% endblock %}

{% block content %}
    <h1>Our Banking Empire</h1>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.name }}</td>
                <td class="numeric">{{ account.balance }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No Accounts</td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-primary" href="/transfer">Transfer Funds</a>
    </p>
{% endblock %}