{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1 class="display-4">Members and Comments</h1>
    <ul>
        <li><a href="/members/create">Create member</a></li>
        <li><a href="/members">All members</a></li>
        <li><a href="/comments">All comments</a></li>
    </ul>

    <h1 class="display-4">Accounts</h1>
    <ul>
        <li><a href="/accounts">All accounts</a></li>
        <li><a href="/transfer">Transfer funds</a></li>
    </ul>
{% endblock %}